[Unit]
Description=HP Laptop hardware-enablement quirks for model 15-da1xxx

[Service]
ExecStart=/usr/local/libexec/hp-laptop-15-da1xxx-quirks

[Install]
WantedBy=default.target
